# npm node modules and debugging files
node_modules/
**/*.css.map

# Shell scripts and zip files
*.sh
*.zip

# Mac files
.DS_Store
**/.DS_Store

# Save and test files
**/*-SAVE*
**/*-test*
zz_unused

# Individual block styles since not implemented yet
assets/css/blocks/
#assets/css/blocks/*.asset.php
assets/css/pro/
