# Node JS
node_modules/
.npm

# Debugging files 
*.css.map
*.js.map

# Unneeded build files
assets/css/blocks/
*-rtl.css

# Ignore Mac files
.DS_Store
**/.DS_Store

# Zip files
*.tgz
*.zip

# Ignore save and test files
##styles/*xtremelysocial*.json
**/*-SAVE*
styles/*-TEST*.json
styles/*-test/
zz_unused
