# npm node modules
node_modules/

# Output of `wp-scripts plugin-zip`
*.zip

# Debugging files 
**/*.asset.php
**/*.css.map

# Webpack files
#webpack.config.js
#package.json
#package-lock.json

# Shell scripts
*.sh

# Ignore Mac files
.DS_Store
**/.DS_Store

# Ignore save, test files, and zip files
**/*-SAVE*
styles/*-test*.json
styles/colors-test/
styles/sections-test/
styles/blocks-test/
styles/global-test/
styles/template-parts-test
*.css.map
zz_unused
*.zip

# Ignore individual block styles since not implemented yet
assets/css/blocks/
assets/css/*-rtl.css

# Ignore PRO theme files
#pro
#templates/pro-*

# Ignore our xtremelysocial.com files
styles/*xtremelysocial*.json
