//------------------------------------------------------------------------------
//# Colors
//------------------------------------------------------------------------------
@use "sass:map";

// Mixin to default colors
@mixin color-defaults(
	$colors,
	$default,
	$contrast,
	$highlight
) {

	// For each color, default contrast and link attributes
	@each $color in $colors {
		.has-#{$color}-background-color {
		
			@if $contrast {

				// Set the contrast color, depending on whether there is a default
				@if $default {
					color: var(--wp--custom--color--contrast--#{$color}, var(--wp--custom--color--contrast--#{$default}, #{$contrast}));
				} @else {
					color: var(--wp--custom--color--contrast--#{$color}, #{$contrast});
				}

				// If link color, set it depending on whether there is a default				
				@if $highlight {
					@if $default {
						--wp--custom--color--highlight: var(--wp--custom--color--highlight--#{$color}, var(--wp--custom--color--highlight--#{$default}, #{$highlight}));		
					} @else {
						--wp--custom--color--highlight: var(--wp--custom--color--highlight--#{$color}, #{$highlight});
					}

					& :where(a:not(.wp-element-button)) {
						color: var(--wp--custom--color--highlight);	
					}					

				// If no link color here then leave opacity alone on hover 
				} @else {
					& :where(a:not(.wp-element-button):hover) {
						opacity: 1;
					}	
				}
			}
		}
	}
}
