//------------------------------------------------------------------------------
//# Colors
//------------------------------------------------------------------------------
@use "sass:map";

// Mixin to default colors
@mixin color-defaults(
	$colors,
	$default,
	$contrast,
	$highlight,
	$underline
) {

	// For each color, default contrast and link attributes
	@each $color in $colors {
		.has-#{$color}-background-color {
		
			// If default lightness, use it if color not set
			@if $default {
				@if $contrast {
					color: var(--wp--custom--color--contrast--#{$color}, var(--wp--custom--color--contrast--#{$default}, #{$contrast}));
				}

				@if $highlight {
					--wp--custom--color--highlight: var(--wp--custom--color--highlight--#{$color}, var(--wp--custom--color--highlight--#{$default}, #{$highlight}));		
					//&:not(.has-link-color) :not(.wp-block-site-title) > a:not(.wp-element-button):not(.wp-block-navigation-item__content):not(.wp-block-social-link-anchor) {

					& :not(.wp-block-site-title) > a:not(.wp-element-button):not(.wp-block-navigation-item__content) {
						color: var(--wp--custom--color--highlight);
	
						@if $underline {
							text-decoration: var(--wp--custom--color--underline--#{$color}, var(--wp--custom--color--underline--#{$default}, #{$underline}));
						}
					}					
				}
			
			// If no lightness default, set it based on color
			} @else {
			
				@if $contrast {
					color: var(--wp--custom--color--contrast--#{$color}, #{$contrast});
				}

				@if $highlight {
					--wp--custom--color--highlight: var(--wp--custom--color--highlight--#{$color}, #{$highlight});

					//&:not(.has-link-color) :not(.wp-block-site-title) > a:not(.wp-element-button):not(.wp-block-navigation-item__content):not(.wp-block-social-link-anchor) {
					& :not(.wp-block-site-title) > a:not(.wp-element-button):not(.wp-block-navigation-item__content) {
						color: var(--wp--custom--color--highlight);
	
						@if $underline {
							text-decoration: var(--wp--custom--color--underline--#{$color}, #{$underline});
						}
					}					
				}			
			}
		}
	}
}
