//------------------------------------------------------------------------------
//# Mixins
//------------------------------------------------------------------------------
@use "sass:map";

//------------------------------------------------------------------------------
//# Colors
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Set default text and link colors depending on how dark or light the
// background color is. 
//------------------------------------------------------------------------------

// When a color is used as a background, default the text to these colors based
// on lightness.
$contrast-colors: (
	"base": var(--wp--preset--color--contrast),
	"contrast": var(--wp--preset--color--base),
	"default-black": var(--wp--preset--color--foreground-alt),
	"default-dark": var(--wp--preset--color--foreground-alt),
	"default-medium": var(--wp--preset--color--foreground-alt),
	"default-light": var(--wp--preset--color--almost-black),
	"default-white": var(--wp--preset--color--contrast)
);

// When a color is used as a background, default the link color to these based
// on lightness.
$highlight-colors: (
	"base": inherit,
	"contrast": inherit,
	"default-black": var(--wp--preset--color--highlight),
	"default-dark": inherit,
	"default-medium": inherit,
	"default-light": inherit,
	"default-white": var(--wp--preset--color--highlight),
);

// When a color is used as a background, default the link UNDERLINE based on 
// lightness.
$underline-colors: (
	"base": none,
	"contrast": inherit,
	"default-black": none,
	"default-dark": underline,
	"default-medium": underline,
	"default-light": underline,
	"default-white": none,
);

// Mixin to default colors
@mixin color-defaults(
	$colors,
	$lightness 
) {
	@each $color in $colors {
	
		$contrast: map.get($contrast-colors, $lightness);
		$highlight: map.get($highlight-colors, $lightness);
		$underline: map.get($underline-colors, $lightness);
		
		@if $contrast {
			.has-#{$color}-background-color {
				color: var(--wp--custom--color--contrast--#{$color}, var(--wp--custom--color--contrast--#{$lightness}, #{$contrast}));
				
				@if $highlight {			
					&:not(.has-link-color) :not(.wp-block-site-title)  a:not(.wp-element-button):not(.wp-block-navigation-item__content):not(.wp-block-social-link-anchor),
					& .wp-block-separator:not(.has-background) {
						color: var(--wp--custom--color--highlight--#{$color}, var(--wp--custom--color--highlight--#{$lightness}, #{$highlight}));

						@if $underline {
							text-decoration: var(--wp--custom--color--underline--#{$color}, var(--wp--custom--color--underline--#{$lightness}, #{$underline}));
						}					

						&:hover,
						&:active {
							text-decoration: var(--wp--custom--color--hover-underline--#{$color}, var(--wp--custom--color--hover-underline--#{$lightness}, var(--wp--custom--color--hover-underline--default, underline)));
							
						}
					}					
				}
			}
		}
	}
}

//------------------------------------------------------------------------------
//# Vendor Prefixes
//------------------------------------------------------------------------------

$vendor-prefixes: ('-webkit-', '-moz-', '');

@mixin vendor-prefix($name, $value) {
	@each $vendor in $vendor-prefixes {
		#{$vendor}#{$name}: #{$value};
	}
}

@mixin keyframes($animationName) {
	@each $vendor in $vendor-prefixes {
		@#{$vendor}keyframes #{$animationName} {
			$browser: #{$vendor} !global;
			@content;
		}
	}
} $browser: null;
