/*-----------------------------------------------------------------------------
# Editor Post Title
-----------------------------------------------------------------------------*/
/* Style the post title in the Block Editor */
.edit-post-visual-editor__post-title-wrapper {
	margin-top: var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--preset--spacing--40);
	padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
	padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}

/*-----------------------------------------------------------------------------
# Forms
-----------------------------------------------------------------------------*/
/* Fields are still light background, so make text dark in Editor */
.block-editor-plain-text {
    color: var(--wp--preset--color--very-dark-gray);
} 

/*-----------------------------------------------------------------------------
# Margins (vertical spacing)
-----------------------------------------------------------------------------*/
/* Don't add top margin to main container group or template parts*/
// .is-root-container > main,
// .is-root-container .wp-block-template-part {
// 	margin-top: 0;
// }

header,
main,
footer,
.wp-block-template-part,
.wp-block-post-content {
	margin-block-start: 0 !important;
}

