/*-----------------------------------------------------------------------------
# Editor Post Title
-----------------------------------------------------------------------------*/
/* Style the post title in the Block Editor */
.edit-post-visual-editor__post-title-wrapper {
	margin-top: var(--wp--style--block-gap);
	margin-bottom: var(--wp--style--block-gap);
	padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50));
	padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50));
}

/*-----------------------------------------------------------------------------
# Forms
-----------------------------------------------------------------------------*/
/* Fields are still light background, so make text dark in Editor */
.block-editor-plain-text {
    color: var(--wp--preset--color--very-dark-gray);
} 

/*-----------------------------------------------------------------------------
# Margins (vertical spacing)
-----------------------------------------------------------------------------*/
/* 
 * Add top margin to the container's first block and then between 
 * subsequent blocks 
 */
// :where(.is-root-container > *:first-child:not(.wp-block-template-part):not(.wp-block-cover):not(.wp-block-query)),
// :where(.is-root-container > *:not(main):not(:first-child):not(:last-child)) {
//  	margin-block-start: var(--wp--style--block-gap);
// }

/* Don't add top margin to main container group */
.is-root-container > main {
	margin-block-start: 0;
}
