/*-----------------------------------------------------------------------------
# Separator: Custom
-----------------------------------------------------------------------------*/
/* 
 * Display a placeholder for the Anchor-only Separator style so it is visible 
 * only in the editor 
 */
.is-root-container .wp-block-separator.is-style-anchor {
	visibility: visible !important;
// 	background-color: var(--wp--preset--color--dark-gray);
	background-color: transparent;
	margin-block-start: var(--wp--preset--spacing--40);
	margin-block-end: var(--wp--preset--spacing--40);
	border-bottom: 1px dotted var(--wp--preset--color--dark-gray);
}
