//------------------------------------------------------------------------------
// SVG Icon Mixins
//------------------------------------------------------------------------------

// @use "../mixins/prefixes";
@use "sass:string";

// Assign SVG attributes to :before or :after
%icon-pseudo {
	content: '';
	background-color: currentColor;
	display: inline-flex;
	align-self: center;
	height: 1em;
	width: 1em;
	mask-size: contain;
	mask-repeat: no-repeat;
}

// SVG Icon Mixin: Adds SVG icon to a block and/or its links
//
// @class		string	CSS class to add icon. e.g. wp-block-post-date
// @icon		string	Icon slug. e.g. ('calendar-alt', 'category')
// @location	string	Either 'before' or 'after'
// @margin		bool	Add margin before or after
// @link		bool	Add icon to link or the element itself
//
@mixin svg-icon(
	$class,
	$icon,
	$location,
	$link: false,
	$margin: true,
) {

	// Determine the SVG Icon path. Note: include trailing slash.
// 	$path: '../icons/';
// 	@if ( string.index($class, 'wp-block-') ) {
// 		$path: '../../icons/';
// 	}
	$path: '../../icons/';
	$margin: 0.15em;

	// If link, then use "> a"
	@if $link {
		.#{$class} > a:#{$location} {
			@extend %icon-pseudo;
			mask-image: url(#{$path}#{$icon}.svg);

			@if $margin {
				@if $location == 'after' {
					margin-left: #{$margin};
				} @else {
					margin-right: #{$margin};
				}
			}
		}

	// For non-links, just add the icon before or after the element itself
	} @else {
		.#{$class}:#{$location} {
			@extend %icon-pseudo;			
			mask-image: url(#{$path}#{$icon}.svg);
	
			@if $margin {
				@if $location == 'after' {
					margin-left: #{$margin};
				} @else {
					margin-right: #{$margin};
				}	
			}
		}
	}
}

// SVG Icons Mixin: Adds SVG icons to multiple CSS classes
//
// @icons		array	Array of icon slugs. e.g. ('calendar-alt', 'category')
// @location	string	pseudo location: 'before' or 'after'
// @addl-class	bool	Suffix to add another class. e.g. "-no-text"
//
@mixin svg-icons(
	$icons,
	$location,
	$link: false,
	$addl-class: null,
) {

	// Loop through the icon list and add the icon CSS
	$prefix: 'is-style-icon-';
	
	@each $icon in $icons {
		@include svg-icon(
			#{$prefix}#{$icon},
			#{$icon},
			#{$location},
			$link,
			$margin: true,
		);
		
		// Add additional class, if desired
		@if $addl-class {
			@include svg-icon(
				#{$prefix}#{$icon}#{$addl-class},
				#{$icon},
				#{$location},
				$link,
				$margin: false,
			);		
		}
	}
}
