//------------------------------------------------------------------------------
// Style SVG Icons
//------------------------------------------------------------------------------
@mixin svg-icon {
	display: flex;
	flex-wrap: wrap;
	&:before {
		align-self: center;
		content: '';
		display: inline-block;
		margin-right: var(--wp--preset--spacing--20);
		height: 1em; //16px;
		width: 1em; //16px;
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		background-color: currentColor;
	}
}
