/*-----------------------------------------------------------------------------
# Buttons and Links
-----------------------------------------------------------------------------*/
/*
 * Link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */
a,
.wp-block-navigation a,
.wp-block-navigation-submenu__toggle {
	cursor: pointer;
	text-decoration-style: var(--wp--custom--link--style, solid);
}

// /* Don't underline links in captions */
// figcaption a {
// 	text-decoration: none;
// }

/* Lighten link colors when text color set */
.has-text-color:not(.has-link-color) a:not(.wp-element-button):not(.wp-block-button):not(.wp-block-social-link-anchor):hover,
.has-text-color:not(.has-link-color) a:not(.wp-element-button):not(.wp-block-button):not(.wp-block-social-link-anchor):active {
	opacity: var(--wp--custom--link--hover-opacity, 0.8);
}

/* 
 * Style basic buttons to match block buttons. 
 */
input[type=button]:not(.wp-element-button),
input[type=submit][class*="button"]:not(.wp-element-button),
input[type=reset][class*="button"]:not(.wp-element-button),
input[type=file]::file-selector-button {
	color: var(--wp--custom--color--button--text, var(--wp--preset--color--foreground-alt, white));
	background-color: var(--wp--custom--color--button--background, var(--wp--preset--color--highlight)); //var(--wp--preset--color--primary);
	border: none;
	border-width: 0;
	border-radius: var(--wp--custom--button--radius, 0);
	padding: var(--wp--preset--spacing--30, 9px) var(--wp--preset--spacing--40, 18px);
	font-size: var(--wp--preset--font-size--normal, 18px);
	font-weight: 400;
	line-height: 1.5;
	text-shadow: none;
}
input[type=file] {
	font-size: var(--wp--preset--font-size--small, 16px);
	width: 100%;
}

/* But override basic buttons to look like outlines on primary-colored backgrounds */
.has-primary-background-color input[type=button],
.has-primary-background-color input[type=submit][class*="button"],
.has-primary-background-color input[type=reset][class*="button"],
.has-primary-background-color input[type=file]::file-selector-button {
	border: 3px solid var(--wp--custom--color--button--text, var(--wp--preset--color--foreground-alt, white));
}

// /* For outline style buttons, inherit border color from the text color */
// .wp-block-button.is-style-outline.is-style-outline .wp-block-button__link {
// 	color: inherit;
// 	background-color: initial;
// 	background-image: none;	
// }

/*
 * Button hover styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */
button:hover,
input[type=submit][class*="button"]:hover,
input[type=reset][class*="button"]:hover,
input[type=file]::file-selector-button:hover,
.wp-block-search__button:hover,
.wp-block-file .wp-block-file__button:hover,
.wp-block-button__link:hover {
	cursor: pointer;
	opacity: var(--wp--custom--button--hover-opacity, 0.85);
}

/*-----------------------------------------------------------------------------
# Custom: Link Underlines
-----------------------------------------------------------------------------*/
/* Underline links */
.is-style-link-underline a,
.is-style-link-underline a:active {
	text-decoration: underline; // !important;
}

/* No Underline links */
.is-style-link-no-underline a,
.is-style-link-no-underline a:active {
	text-decoration: none; // !important;
}

.is-style-link-underline a:hover,
.is-style-link-no-underline a:hover {
	opacity: var(--wp--custom--link--hover-opacity, 0.8);
}

/* Underline links on hover */
.is-style-link-underline-hover a {
	text-decoration: none;
}
.is-style-link-underline-hover a:hover {
	opacity: 1;
	text-decoration: underline;
}
