/*------------------------------------------------------------------------------
# Colors
------------------------------------------------------------------------------*/

/*
 * Set highlight, hover, and link underlines based on background color 
 * 
 * Override in theme.json with:
 *		--wp--custom--color--contrast--{color} and/or 
 *		--wp--custom--color--highlight--{color} and/or 
 *		--wp--custom--color--underline--{color} and/or 
 */

// Color Mixin: Sets --wp--custom--color--contrast, --highlight --hover, and
// 				--underline colors used by the theme's CSS
// Parms:
// @colors		array	Array of color slugs. e.g. ('light-green', 'green')
// @default		string	Optional lightness slug e.g. 'default-black',
//						'default-dark'. This translates to the
//						--wp-custom--color--{lightness} variable
// @contrast	color	Font color slug for text e.g. 'almost-black'
// @highlight	color	Highlight (link) color slug or 'inherit'
// @underline	string	Link underline i.e. underline or none

@use "../utils/mixin-colors";

/* 
 * Black and near-black colors, default light text but leave link color alone
 */
$black-colors: ('contrast', 'dark', 'dark-alt', 'almost-black', 'not-quite-black', 'black');
//$black-colors: ('contrast', 'almost-black', 'not-quite-black', 'black');
//$black-colors: ('almost-black', 'not-quite-black', 'black');
@include mixin-colors.color-defaults(
	$black-colors,
	'default-black',
	'var(--wp--preset--color--foreground-alt)',
	null,
	null
);

// $near-black-colors: ('dark', 'dark-alt', 'contrast');
// @include mixin-colors.color-defaults(
// 	$near-black-colors,
// 	null, //'default-near-black',
// 	'var(--wp--preset--color--foreground-alt)',
// 	null,
// 	'none'
// );

/* 
 * Dark colors, default light text and links with underline
 */
$dark-colors: ('primary', 'secondary', 'tertiary', 'primary-alt', 'secondary-alt', 'tertiary-alt', 'highlight', 'highlight-alt', 'dark-gray', 'very-dark-gray', 'green', 'dark-bright-green', 'midnight-blue', 'dark-midnight-blue', 'orange', 'dark-orange', 'blue', 'dark-blue', 'purple', 'dark-purple', 'light-red', 'red', 'dark-red');
//$dark-colors: ('dark', 'dark-alt', 'primary', 'secondary', 'tertiary', 'primary-alt', 'secondary-alt', 'tertiary-alt', 'highlight', 'highlight-alt', 'dark-gray', 'very-dark-gray', 'green', 'dark-bright-green', 'midnight-blue', 'dark-midnight-blue', 'orange', 'dark-orange', 'blue', 'dark-blue', 'purple', 'dark-purple', 'light-red', 'red', 'dark-red');
@include mixin-colors.color-defaults(
	$dark-colors,
	null, //'default-dark',
	'var(--wp--preset--color--foreground-alt)',
	'inherit',
	'underline'
);

/* 
 * Medium colors, default light text and links with underline
 */
$medium-colors: ('light-green', 'bright-green', 'light-orange', 'light-blue','light-purple');
@include mixin-colors.color-defaults(
	$medium-colors, 
	null, //'default-medium',
	'var(--wp--preset--color--foreground-alt)',
	'inherit',
	'underline'
);

/* 
 * Light Colors, default dark text and links with underline
 */ 
$light-colors: ('light-yellow', 'yellow');
@include mixin-colors.color-defaults(
	$light-colors,
	null, //'default-light',
	'var(--wp--preset--color--almost-black)',
	'inherit',
	'underline'
);

/* 
 * White and near-white colors, default dark text but leave the link color alone
 */
$white-colors: ('base', 'neutral', 'neutral-alt', 'foreground-alt', 'white', 'off-white', 'very-light-gray', 'light-gray', 'gray' );
@include mixin-colors.color-defaults(
	$white-colors,
	null, //'default-white',
	'var(--wp--preset--color--contrast)',
	null,
	null
);

/* 
 * On Cover blocks, default the text color to white, but set it back to black
 * on light backgrounds with dim 30% or less
 */
:where(.wp-block-cover-image.is-light:not(.has-text-color)), :where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #fff;

	&:has(.has-background-dim-10),
	&:has(.has-background-dim-20),
	&:has(.has-background-dim-30) {
		color: #000;
	}
}
