/*------------------------------------------------------------------------------
# Colors
------------------------------------------------------------------------------*/

/*
 * Default contrast (text) and/or highlight (link, button) color based on 
 * background color.
 * 
 * Override contrast (text) color in theme.json with:
 *		--wp--custom--color--contrast--{color} or 
 *		--wp--custom--color--contrast--default-black or
 *		--wp--custom--color--contrast--default-white
 * 
 * Override highlight (link, button) color in theme.json with:
 *		--wp--custom--color--highlight--{color}
 */

// Color Mixin: Sets --wp--custom--color--contrast and 
//				--wp--custom--color--highlight
// Parms:
// @colors		array	Array of color slugs. e.g. ('light-green', 'green')
//
// @default		string	Optional lightness slug e.g. 'default-black',
//						'default-white'. This translates to the
//						--wp-custom--color--contrast--{lightness} variable.
//
// @contrast	color	Color slug for text e.g. 'almost-black'
//
// @highlight	color	Highlight (link) color slug or 'inherit'

@use "../utils/mixin-colors";

/* 
 * Black and near-black colors, default light text but leave link color alone
 */
$black-colors: ('dark', 'dark-alt', 'almost-black', 'not-quite-black', 'black');
@include mixin-colors.color-defaults(
	$black-colors,
	'default-black',
	'var(--wp--preset--color--foreground-alt)',
	null
);

@include mixin-colors.color-defaults(
	'contrast',
	null, //'default-black',
	'var(--wp--preset--color--base)',
	null
);

/* 
 * Accent colors (Primary, Secondary, etc.), default light text and links
 */
$accent-colors: ('primary', 'secondary', 'tertiary', 'primary-alt', 'secondary-alt', 'tertiary-alt', 'highlight', 'highlight-alt');
@include mixin-colors.color-defaults(
	$accent-colors,
	null, //'default-accent',
	'var(--wp--preset--color--foreground-alt)',
	'inherit'
);

/* 
 * Dark colors, default light text and links
 */
$dark-colors: ('dark-gray', 'very-dark-gray', 'green', 'dark-bright-green', 'midnight-blue', 'dark-midnight-blue', 'orange', 'dark-orange', 'blue', 'dark-blue', 'purple', 'dark-purple', 'red', 'dark-red');
@include mixin-colors.color-defaults(
	$dark-colors,
	null, //'default-dark',
	//'var(--wp--preset--color--foreground-alt)',
	'var(--wp--preset--color--off-white)',
	'inherit'
);

/* 
 * Medium colors, default light text and links
 */
$medium-colors: ('light-green', 'bright-green', 'light-orange', 'light-blue', 'light-red', 'light-purple');
@include mixin-colors.color-defaults(
	$medium-colors, 
	null, //'default-medium',
	//'var(--wp--preset--color--foreground-alt)',
	'var(--wp--preset--color--white)',
	'inherit'
);

/* 
 * Light Colors, default dark text and links
 */ 
$light-colors: ('light-yellow', 'yellow');
@include mixin-colors.color-defaults(
	$light-colors,
	null, //'default-light',
	'var(--wp--preset--color--almost-black)',
	'inherit'
);

/* 
 * White and near-white colors, default dark text but leave the link color alone
 */
$white-colors: ('neutral', 'neutral-alt', 'foreground-alt', 'white', 'off-white', 'very-light-gray', 'light-gray', 'gray' );
@include mixin-colors.color-defaults(
	$white-colors,
	'default-white',
	'var(--wp--preset--color--contrast)',
	null
);

@include mixin-colors.color-defaults(
	'base',
	null, //'default-white',
	'var(--wp--preset--color--contrast)',
	null
);

/* Set the contrast color on colored backgrounds and buttons */
:root :where(.has-background),
:root :where(.wp-block-background.has-background .wp-element-button, .wp-block-background.has-background .wp-block-button__link) {
	color: var(--wp--custom--color--contrast);
}

/* Set the text color on gradient backgrounds */
:root :where([class*="-gradient-background"]:not(.has-gray-gradient-background):not(.has-yellow-gradient-background)) {
	color: var(--wp--preset--color--foreground-alt); 
}

:root :where(.has-primary-gradient-background, .has-primary-to-secondary-gradient-background, .has-secondary-to-primary-gradient-background, .has-primary-to-tertiary-gradient-background, .has-tertiary-to-primary-gradient-background) {
	color: var(--wp--custom--color--contrast--primary, var(--wp--preset--color--foreground-alt));
}

:root :where(.has-secondary-gradient-background, .has-secondary-to-tertiary-gradient-background, .has-tertiary-to-secondary-gradient-background) {
	color: var(--wp--custom--color--contrast--secondary, var(--wp--preset--color--foreground-alt));
}

:root :where(.has-tertiary-gradient-background) {
	color: var(--wp--custom--color--contrast--tertiary, var(--wp--preset--color--foreground-alt));
}

/* Inherit the link and outline button color on gradient backgrounds */
:root :where([class*=-gradient-background]) {
	& a:where(:not(.wp-element-button)),
	& .is-style-outline > .wp-element-button, 
	& [class*="is-style-button-outline-"] > .wp-element-button {	
		color: inherit;
	}
}

/* 
 * On Cover blocks, default the text color to white, but set it back to black
 * on light backgrounds with dim 30% or less
 */
:where(.wp-block-cover-image.is-light:not(.has-text-color)), :where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #fff;

	&:has(.has-background-dim-10),
	&:has(.has-background-dim-20),
	&:has(.has-background-dim-30) {
		color: #000;
	}
}
