/*-----------------------------------------------------------------------------
# Colors
-----------------------------------------------------------------------------*/
// Load our mixins to set default text and link colors
@use "../utils/mixins";

/* 
 * Black and near-black colors, default light text (but leave link color alone).
 * Override by defining --wp--custom--color--contrast--black and/or 
 * --wp--custom--color--highlight--black in theme.json.
 */
$black-colors: ('contrast', 'midnight-blue', 'dark-midnight-blue', 'dark', 'dark-alt', 'almost-black', 'not-quite-black', 'black');
@include mixins.color-defaults($black-colors, 'default-black');

/* 
 * Dark colors, default light text and links 
 * Override by defining --wp--custom--color--contrast--dark and/or
 * --wp--custom--color--highlight--dark in theme.json.
 */
$dark-colors: ('primary', 'secondary', 'tertiary', 'primary-alt', 'secondary-alt', 'tertiary-alt', 'highlight', 'highlight-alt', 'dark-gray', 'very-dark-gray', 'green', 'dark-bright-green', 'orange', 'dark-orange', 'blue', 'dark-blue', 'purple', 'dark-purple', 'light-red', 'red', 'dark-red');
@include mixins.color-defaults($dark-colors, 'default-dark');

/* 
 * Medium colors, default light text and links too but make it easy for theme
 * styles to Override by defining --wp--custom--color--contrast--medium in
 * theme.json.
 */
$medium-colors: ('light-green', 'bright-green', 'light-orange', 'light-blue','light-purple');
@include mixins.color-defaults($medium-colors, 'default-medium');

/* 
 * Light Colors (e.g. Yellow), default dark color to text, link, and buttons 
 * Override by defining --wp--custom--color--contrast--light in theme.json.
 */ 
$light-colors: ('light-yellow', 'yellow');
@include mixins.color-defaults($light-colors,'default-light');

/* 
 * White and near-white colors, default dark text (but leave the link color alone) 
 * Override by defining --wp--custom--color--contrast--white in theme.json.
 */
$white-colors: ('base', 'neutral', 'neutral-alt', 'foreground-alt', 'white', 'off-white', 'very-light-gray', 'light-gray', 'gray' );
@include mixins.color-defaults($white-colors,'default-white');

/* 
 * On Cover blocks, default the text color to white, but set it back to black
 * on light backgrounds with dim less than 30%
 */
:where(.wp-block-cover-image.is-light:not(.has-text-color)), :where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #fff;

	&:has(.has-background-dim-10),
	&:has(.has-background-dim-20),
	&:has(.has-background-dim-30) {
		color: #000;
	}
}
