/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

/**
 * Override core WordPress base Dashicon styles. Don't let it
 * alter height, width, font-size or line-height. 
 *
 */
.dashicons {
//[class*=dashicons-] {
//.dashicons-before: before {
//.wp-site-blocks .dashicons {
	display: block;
	width: auto;
	height: auto;
	font-family: inherit;
	font-size: inherit; //1em;
	font-weight: inherit; //var(--wp--custom--typography--font-weight--normal);
	line-height: inherit;
	
	text-align: unset;
	
	&.has-text-align-center {
		text-align: center;
	}
	&.has-text-align-left {
		text-align: left;
	}
	&.has-text-align-right {
		text-align: right;
	}
}

//.dashicons,
.dashicons:before,
.dashicons-before:before {
//[class*=dashicons-]:before {
//.wp-site-blocks .dashicons:before,
//.wp-site-blocks .dashicons-before:before {
	display: inline-block;
	width: auto;
	height: auto;
	font-family: dashicons;
	font-size: 1em;
	line-height: inherit;
	font-weight: inherit; //var(--wp--custom--typography--font-weight--normal);
	//vertical-align: middle; //top;
}

/* Add some right margin on inline dashicons before the text */
//.dashicons:before,
.dashicons-before:before {
//.wp-site-blocks .dashicons-before:before {
	margin-right: var(--wp--preset--spacing--20);
}

/* Don't underline dashicons links */
.dashicons a {
//.wp-site-blocks .dashicons a {
	text-decoration: none;
}
