/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

/**
 * Override core WordPress base Dashicon styles. Don't let it
 * alter height, width, font-size or line-height. 
 *
 */
.dashicons {
	display: block;
	width: auto;
	height: auto;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: center; //inherit; //unset
}

.dashicons:before {
	display: inline-block;
	width: auto;
	height: auto;
	font-family: dashicons;
	font-size: 1em;
	line-height: 1; //inherit;
	font-weight: inherit;
	vertical-align: text-top; //middle;
}

/* Add some right margin on inline dashicons before the text */
.dashicons-before:before,
.dashicons-above:before,
.dashicons-below:before {
	font-family: dashicons;
	margin-right: var(--wp--preset--spacing--20, 4.5px);
}

.dashicons-after {
	display: flex;
	
	&:before {
		font-family: dashicons;
		order: 2;
		margin-left: var(--wp--preset--spacing--20, 4.5px);
	}
}

/* Don't underline dashicons links */
.dashicons a {
	text-decoration: none;
}

/* Nav menus already have transitions so don't add another one on
 * dashicons
 */
.wp-block-navigation .dashicons {
	transition: none;
	text-align: inherit;
}

/* Don't display the top-level icon on the drop-down menu */
.wp-block-navigation__submenu-container.dashicons:before {
	content: none;
}
