/*-----------------------------------------------------------------------------
# Elements
-----------------------------------------------------------------------------*/

/* Use bold font-weight from theme.json */
strong, 
b {
	font-weight: var(--wp--custom--typography--font-weight--bold, 500);
}

/* Prevent code from breaking layout and use smaller font */
code,
pre {
	overflow-x: scroll; //auto;
	font-size: var(--wp--preset--font-size--small);
}

/* Style lists */
ol, 
ul {
	margin-bottom: 0;
}

ol.has-background:not(.wp-block-navigation-submenu):not(.wp-block-navigation__container),
ul.has-background:not(.wp-block-navigation-submenu):not(.wp-block-navigation__container) {
    padding: var(--wp--preset--spacing--40);
    list-style-position: inside;
}
