/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/* Use bold font-weight from theme.json */
strong, 
b {
	font-weight: var(--wp--custom--typography--font-weight--bold, 500);
}

/* Prevent code from breaking layout */
code,
pre {
	overflow-x: scroll; //auto;
}

/* Set lists with background to match other padding */
ol.has-background,
ul.has-background {
    padding: var(--wp--preset--spacing--40, 18px);
    list-style-position: inside;
}

/* Center captions */
figcaption {
	text-align: center;
}
