/*------------------------------------------------------------------------------
# Icons
#
# Note: Needed for multiple blocks so load in base stylesheet
------------------------------------------------------------------------------*/

@use "../mixins/icons";

/* Setup SVG icons for use in post/page content */
@include icons.svg-link-icons(
	('arrow-up-alt2', 'arrow-left-alt2'),
	'before',
	'-no-text'
);

@include icons.svg-link-icons(
	('arrow-down-alt2', 'arrow-right-alt2'),
	'after',
	'-no-text'
);

/* Don't underline links, but lighten on hover */
[class*="is-style-icon-"] a {
	text-decoration: none !important;
	outline: none !important;
}

[class*="is-style-icon-"] a:hover {
	opacity: var(--wp--custom--color--link--hover-opacity, 0.8);
}

/*-----------------------------------------------------------------------------
# Icons: Custom
-----------------------------------------------------------------------------*/

/* No icons for post meta */
.is-style-no-icon:before {	
 	display: none;
}

/* No text for icon links in paragraphs */
p[class*="-no-text"] > a {
	font-size: 0;
	line-height: 1;
	
	&:before,
	&:after {
		font-size: var(--wp--preset--font-size--x-large);
	}
}

/* No text for icon links in navigation menus */
[class*="-no-text"].wp-block-navigation-item {
	& > .wp-block-navigation-item__content {
		& > .wp-block-navigation-item__label {
			font-size: 0;
		}
	}	
}
