/*------------------------------------------------------------------------------
# Margins (Vertical spacing)
------------------------------------------------------------------------------*/

/* Remove top margin and padding from the containers */
header,
main,
footer,
.wp-block-template-part,
.wp-block-post-content {
	margin-block-start: 0;
}

/* Add top margin on blocks that appear before the Post Content, such as
 * Featured Images or Search.
 */
main > *:not(.wp-block-columns):not(.wp-block-post-content) {
 	margin-block-start: var(--wp--style--block-gap);
}

/* 
 * Push top margin on Post Content down to the block level so users can control 
 * it by adjusting margin on the block itself.
 */
.wp-block-post-content > :first-child:not(.wp-block-cover),
.wp-block-post-content > #wporg-pattern-preview > div > :first-child:not(.wp-block-cover) {
 	margin-block-start: var(--wp--style--block-gap);
}

/* Push top margin on Columns down to the block level so users can control it */
:root :where(.wp-block-columns) {
	& > .wp-block-column {
		margin-block-start: 0;
	}
	
	& > .wp-block-column > *:not(.wp-block-template-part):not(.wp-block-post-content),
	& > .wp-block-column > .wp-block-template-part > * {
		margin-block-start: var(--wp--style--block-gap);
	}

	& > .wp-block-column > *:first-child:not(.sidebar):not(.wp-block-post-featured-image),
	& > .wp-block-column > .wp-block-template-part > *:first-child:not(.sidebar):not(.wp-block-post-featured-image) {
    	margin-block-start: 0;
	}
}

/* Add bottom margin to the Post Content's last block so users can control it */
.wp-block-post-content > :last-child,
.wp-block-post-content > #wporg-pattern-preview > div > :last-child {
	margin-block-end: var(--wp--style--block-gap);
}

/* Add bottom margin to the Query Block too */
.wp-block-query {
	margin-block-end: var(--wp--style--block-gap);
}
