/*------------------------------------------------------------------------------
# Margins (Vertical spacing)
------------------------------------------------------------------------------*/

/* Remove top margin and padding from the containers */
header,
main,
footer,
.wp-block-template-part,
.wp-block-post-content {
	margin-block-start: 0;
}

/* Handle top margin in Groups and Columns that have template parts in them */
:root :where(.is-layout-flow) > .wp-block-template-part > *,
:root :where(.is-layout-constrained) > .wp-block-template-part > * {
 	margin-block-start: var(--wp--style--block-gap);
}

// :root :where(.is-layout-flow) > .wp-block-template-part > :first-child,
// :root :where(.is-layout-constrained) > .wp-block-template-part > :first-child {
:root :where(.is-layout-flow) > .wp-block-template-part:first-child > :first-child,
:root :where(.is-layout-constrained) > .wp-block-template-part:first-child > :first-child {
	margin-block-start: 0;
}

/* Don't put any top margin on the individual columns */
:root :where(.wp-block-columns-is-layout-flow) > .wp-block-column,
:root :where(.wp-block-columns-is-layout-constrained) > .wp-block-column {
	margin-block-start: 0;
}

/* 
 * Push top margin on Post Content down to the block level so users can control 
 * it by adjusting margin on the block itself.
 */
.is-layout-flow > .wp-block-post-template,
.is-layout-constrained > .wp-block-post-template,
.wp-block-post-content > :first-child:not(.wp-block-cover),
.wp-block-post-content > #wporg-pattern-preview > div > :first-child:not(.wp-block-cover) {
 	margin-block-start: var(--wp--style--block-gap);
}

/* Add bottom margin to the Post Content's last block so users can control it */
.wp-block-query, 
.wp-block-post-content > :last-child,
.wp-block-post-content > #wporg-pattern-preview > div > :last-child {
	margin-block-end: var(--wp--style--block-gap);
}
