/*-----------------------------------------------------------------------------
# Normalize
-----------------------------------------------------------------------------*/
/* 
 * Default to contain borders and padding within blocks and prevent iOS from adjusting
 * text sizes after orientation change. 
 */
html {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: auto !important;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* 
 * Default color scheme to light, but allow theme styles to set it to "light dark".
 * That will turn input fields black and also allows the use of the CSS light-dark
 * function. e.g. light-dark(white, black).
 */
:root { 
	color-scheme: var(--wp--custom--color--scheme, light); 
}

/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 * 
 * Also text decoration styles.
 */
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	
	text-decoration-thickness: var(--wp--custom--link--thickness, 1px);
	text-underline-position: var(--wp--custom--link--position, under);
	text-underline-offset: var(--wp--custom--link--offset, 0);
}
