/*-----------------------------------------------------------------------------
# Flat Blocks Theme Compatibility with Prior Versions
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------
# Flat Blocks Colors (for theme < v1.6)
-----------------------------------------------------------------------------*/

.has-foreground-color {
	color: var(--wp--preset--color--contrast);
}
.has-foreground-background-color {
	background-color: var(--wp--preset--color--contrast);
}
.has-foreground-border-color {
	border-color: var(--wp--preset--color--contrast);
}
.has-background-color {
	color: var(--wp--preset--color--base);
}
.has-background-background-color {
	background-color: var(--wp--preset--color--base);
}
.has-background-border-color {
	border-color: var(--wp--preset--color--base);
}

/*-----------------------------------------------------------------------------
# Flat Blocks Custom Styles (for theme < v1.6.4)
-----------------------------------------------------------------------------*/
.is-style-cover-rounded-corners {
	border-radius: var(--wp--custom--border--radius);
	overflow: hidden;
}

.is-style-cover-border,
.is-style-media-text-border {
	border: 1px solid var(--wp--custom--color--border);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
}

/*-----------------------------------------------------------------------------
# Flat Blocks Colors and Custom Styles (for theme < v1.6.6)
-----------------------------------------------------------------------------*/

/* Default group padding, but remove it on nested groups */
:where(.wp-block-group:not(main):not(.is-style-no-padding)) {
	padding-top: var(--wp--style--block-gap);
	padding-bottom: var(--wp--style--block-gap);
}

.wp-block-group > .wp-block-group:not(.has-background):not(.is-style-rounded-corners):not(.is-style-rounded-border):not(.is-style-thick-rounded-border) {
	padding: 0;
}
