/*---------------------------------------------------------------------------------------
# Block Styles for Buttons (@since v1.6.5). Now in /styles/blocks/*.json.
----------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------
## Alternate Button Styles (Alt and Alt-2)
---------------------------------------------------------------------------------------*/

/* Alternate Button and Outline Style */
.is-style-button-alt.wp-block-button .wp-block-button__link,
.is-style-button-outline-alt.wp-block-button .wp-block-button__link {
	border-radius: 9999px;
}

/* Alternate 2 Button and Outline Style */
.is-style-button-alt-2.wp-block-button .wp-block-button__link,
.is-style-button-outline-alt-2.wp-block-button .wp-block-button__link {
	border-radius: 0;
}

/* Alternate Outline and Outline 2 Button Style */
.is-style-button-outline-alt.wp-block-button .wp-block-button__link,
.is-style-button-outline-alt-2.wp-block-button .wp-block-button__link {
	color: currentColor;
	background-color: transparent;
	border-width: 3px;
	border-style: solid;
	border-color: inherit;
	//border-radius: 0;
	padding: calc(var(--wp--preset--spacing--30) - 3px) calc(var(--wp--preset--spacing--40) - 3px)
}
