/*-----------------------------------------------------------------------------
# Cover
-----------------------------------------------------------------------------*/

/* LIMIT cover image inner content to standard unless wide or full */
.wp-block-cover .wp-block-cover__inner-container > *:not(.alignfull):not(.alignwide) {
	max-width: var(--wp--style--global--content-size); 
	margin-left: auto;
	margin-right: auto;
}

.wp-block-cover .wp-block-cover__inner-container > *.alignwide,
.wp-block-cover .wp-block-cover__inner-container > *.alignfull {
	max-width: var(--wp--style--global--wide-size); 
	margin-left: auto;
	margin-right: auto;
}

/* If cover used as site header, make sure it is layered above other covers */
header > .wp-block-cover {
	overflow: visible; 
	z-index: 3;
}
