/*--------------------------------------------------------------
# Image
--------------------------------------------------------------*/

/* FIX caption color when on colored background */
.wp-block-image figcaption {
	color: inherit;
}

/* Prevent figures (images, tables) with hard-coded dimensions from breaking the 
 * layout. Note the figure line is for older block editor markup. 
 */
figure.wp-caption:not(.alignfull):not(.alignwide),
figure.wp-caption:not(.alignfull):not(.alignwide) img {
	max-width: min( 100%, var(--wp--style--global--content-size) ) !important;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* FIX rounded images when global image style has a border radius */
.wp-block-image .is-style-rounded img, 
.wp-block-image.is-style-circle-mask img, 
.wp-block-image.is-style-rounded img {
    border-radius: 9999px !important;
}

/* Hide the caption in new WordPress v6.4 "lightbox" image feature when enlarged */
.lightbox-image-container .wp-block-image img {
	color: rgba(0,0,0,0) !important;
}

/*--------------------------------------------------------------
# Image: Custom
--------------------------------------------------------------*/

/* Image borders */
.is-style-image-border img {
// .is-style-image-border {
	border: 1px solid var(--wp--custom--border--color);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--custom--border--radius);
}

.wp-block-gallery.has-nested-images figure.is-style-image-border figcaption,
.wp-block-gallery.is-style-image-border.has-nested-images figure.wp-block-image figcaption {
    //background: none !important;
    bottom: calc(1px + var(--wp--custom--border--radius)); //6px;
    //font-size: var(--wp--preset--font-size--extra-small);
    left: calc(1px + var(--wp--custom--border--radius)); //6px;
    padding: 0 calc(1px + var(--wp--custom--border--radius)) calc(1px + var(--wp--custom--border--radius)) 0; //0 6px 6px;
    width: calc(100% - calc(2px + 2 * var(--wp--custom--border--radius)) );
}

.is-style-image-round-border img {
// .is-style-image-round-border {
	border: 1px solid var(--wp--custom--border--color);
	border-radius: 9999px; /*50%;*/
	padding: var(--wp--custom--border--radius);
}

.wp-block-image.is-style-image-computer-screen img {
// .is-style-image-computer-screen {
	border: var(--wp--preset--spacing--60) solid var(--wp--preset--color--almost-black);
	border-radius: var(--wp--preset--spacing--40);
	border-bottom: 3px solid var(--wp--preset--color--almost-black);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
// .is-style-image-computer-screen figcaption {
// 	display: none;
// }

.is-style-image-tablet-phone-screen img {
// .is-style-image-tablet-phone-screen {
	border: var(--wp--preset--spacing--50) solid var(--wp--preset--color--almost-black);
	border-radius: var(--wp--preset--spacing--40);
}

// .is-style-image-tablet-phone-screen figcaption {
// 	display: none;
// }

/* Featured Image no border */
.is-style-image-no-border,
.is-style-image-no-border img {
	border: none;
	border-radius: 0;
	padding: 0;
}
