/*-----------------------------------------------------------------------------
# Comments
-----------------------------------------------------------------------------*/

/* Remove vertical margins if no comments */
.wp-block-template-part:has(.post-comments):not(:has(.wp-block-comments)) {
	margin-block-start: 0;
	margin-block-end: 0;
}

/* Adjust padding on mobile and tablet (782px) */
@import "@wordpress/base-styles/breakpoints";

@media only screen and (max-width: #{ ($break-medium - 1) }) {
	.post-comments:not(.has-global-padding) {
		padding-left: var(--wp--style--root--padding-left) !important;
		padding-right: var(--wp--style--root--padding-right) !important;
	}
}
