/*-----------------------------------------------------------------------------
# Image
-----------------------------------------------------------------------------*/

/* Prevent figures (images, tables) with hard-coded dimensions from breaking the 
 * layout. Note the figure line is for older block editor markup. 
 */
figure.wp-caption:not(.alignfull):not(.alignwide),
figure.wp-caption:not(.alignfull):not(.alignwide) img {
	max-width: min( 100%, var(--wp--style--global--content-size) ) !important;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

/* FIX rounded images when global image style has a border radius */
.wp-block-image .is-style-rounded img, 
.wp-block-image.is-style-circle-mask img, 
.wp-block-image.is-style-rounded img,
.is-style-image-round-border img {
    border-radius: 9999px !important;
}

/*-----------------------------------------------------------------------------
# Image: Custom
-----------------------------------------------------------------------------*/

/* Image Border */
.wp-block-image.is-style-image-border img {
	padding: var(--wp--preset--spacing--20);
}

/* Image Round w/Border */
.wp-block-image.is-style-image-round-border img {
	padding: var(--wp--preset--spacing--20);
}
