/*-----------------------------------------------------------------------------
# Paragraph
-----------------------------------------------------------------------------*/

// Mixin for icons
@use "../mixins/icons";
@import "@wordpress/base-styles/breakpoints";

/* Padding for colored backgrounds on paragraphs */
.wp-block-paragraph.has-background { 
	padding: var(--wp--preset--spacing--40) 
}

/* Adjust padding on mobile and tablet (782px) */
@media only screen and (max-width: #{ ($break-medium - 1) }) {

	/* If no global padding, then set paragraphs like colored groups */
	p.has-background:not(.has-global-padding) {
		padding-left: calc(2 * var(--wp--style--block-gap));
		padding-right: calc(2 * var(--wp--style--block-gap));
	}

	/* If global padding, then OVERRIDE horizontal padding on mobile */
	.has-global-padding p.has-background {
		padding-left: var(--wp--style--root--padding-left) !important;
		padding-right: var(--wp--style--root--padding-right) !important;
	}
		
}

/*-----------------------------------------------------------------------------
# Paragraph: Custom
-----------------------------------------------------------------------------*/

/* Alignwide */
p.is-style-alignwide {
	max-width: var(--wp--style--global--wide-size) !important;
	margin-left: auto !important;
    margin-right: auto !important;
}

/*  Down Arrow for Scroll Headers */
@include icons.svg-icon( 
	$class: 'is-style-arrow-icon-no-text', //deprecated
	$icon: 'arrow-down-alt2',
	$location: 'after',
	$link: true,
	$margin: false,
);

// Use this one instead of the one above
@include icons.svg-icon(
	$class: 'is-style-icon-arrow-down-alt2-no-text',
	$icon: 'arrow-down-alt2',
	$location: 'after',
	$link: true,
	$margin: false,
);

.is-style-arrow-icon-no-text > a, //deprecated
.is-style-icon-arrow-down-alt2-no-text > a {
	font-size: 0;
	line-height: 1;
	color: inherit;
	&:after {
		font-size: var(--wp--preset--font-size--x-large);
	}
}
