/*-----------------------------------------------------------------------------
# Post Terms:
-----------------------------------------------------------------------------*/
/* dashicons-tag */
.wp-block-post-terms.taxonomy-category:before {
	font-family: dashicons;
	content: "\f318";
	margin-right: var(--wp--preset--spacing--20);
}

.rtl .wp-block-post-terms.taxonomy-category:after {
	font-family: dashicons;
	content: "\f318";
	margin-right: var(--wp--preset--spacing--20);
}
.rtl .wp-block-post-terms.taxonomy-category:before {
	display: none;
}

/* dashicons-category */
.wp-block-post-terms.taxonomy-post_tag:before {
	font-family: dashicons;
	content: "\f323";
	margin-right: var(--wp--preset--spacing--20);
}

.rtl .wp-block-post-terms.taxonomy-post_tag:after {
	font-family: dashicons;
	content: "\f323";
	margin-right: var(--wp--preset--spacing--20);
}
.rtl .wp-block-post-terms.taxonomy-post_tag:before {
	display: none;
}

/* Remove extra margin on Category and Tag descriptions */
.wp-block-term-description p {
	margin-block-start: 0;
	margin-block-end: 0;
}
