/*-----------------------------------------------------------------------------
# Post Author Name
-----------------------------------------------------------------------------*/
@use "../mixins/icons";

@include icons.svg-icon(
	$class: 'wp-block-post-author-name',
	$icon: 'admin-users',
	$location: 'before'
);
