/*-----------------------------------------------------------------------------
# Post Date
-----------------------------------------------------------------------------*/
@use "../mixins/icons";

@include icons.svg-icon(
	$class: 'wp-block-post-date',
	$icon: 'calendar-alt',
	$location: 'before'
);
