/*-----------------------------------------------------------------------------
# Post Date
-----------------------------------------------------------------------------*/

/* dashicons-calendar-alt */
.wp-block-post-date:before {
	font-family: dashicons;
	content: "\f508";
    margin-right: var(--wp--preset--spacing--20);
}
