/*-----------------------------------------------------------------------------
# Post Author Name
-----------------------------------------------------------------------------*/

/* dashicons-admin-users */
.wp-block-post-author-name:before {
	font-family: dashicons;
	content: "\f110";
    margin-right: var(--wp--preset--spacing--20);
}

.rtl .wp-block-post-author-name:after {
	font-family: dashicons;
	content: "\f110";
	margin-right: var(--wp--preset--spacing--20);
}
.rtl .wp-block-post-author-name:before {
	display: none;
}
