/*-----------------------------------------------------------------------------
# Separator
-----------------------------------------------------------------------------*/

/* Default separator width */
.wp-block-separator:not(.is-style-wide, .is-style-dots, .is-style-thick-wide) {
	width: calc(1.5 * var(--wp--preset--spacing--80))
}

/* Override our short separator width for wide and dotted separators */
.wp-block-separator.is-style-wide,
.wp-block-separator.is-style-dots {
	width: 100% !important;
}

/* FIX to center default (narrow) separator when user selects alignfull */
.wp-block-separator.alignfull {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* FIX for theme setting colors on separators. Use only the background color. */
.wp-block-separator:not(.is-style-dots) {
	color: transparent;
}

/* Default separator color when on colored background */
.has-background .wp-block-separator:not(.has-background) {
 	color: inherit;
// 	color: var(--wp--custom--color--highlight, var(--wp--preset--color--highlight));
}
