/*-----------------------------------------------------------------------------
# Separator
-----------------------------------------------------------------------------*/

/* FIX to center default (narrow) separator when user selects alignfull */
.wp-block-separator.alignfull {
	margin-left: auto !important;
	margin-right: auto !important;
}

/* Override our short separator width for wide and dotted separators */
.wp-block-separator.is-style-wide,
.wp-block-separator.is-style-dots {
	width: 100% !important;; 
}

/* Default separator color when on colored background */
.has-background .wp-block-separator:not(.has-background) {
 	//color: inherit;
	color: var(--wp--custom--color--highlight, var(--wp--preset--color--highlight));
}

/*-----------------------------------------------------------------------------
# Separator: Custom
-----------------------------------------------------------------------------*/
.wp-block-separator.is-style-thick {
  	border-style: solid;
	border-width: 0 0 3px;
}

.wp-block-separator.is-style-thick-wide {
  	border-style: solid;
	border-width: 0 0 3px;
	width: 100%;
}

// .wp-block-separator.is-style-clearfix {
// 	border-width: 0;
// 	margin: 0;
// }
