/*-----------------------------------------------------------------------------
# Table
-----------------------------------------------------------------------------*/

/* Allow tables to scroll on mobile */
.wp-block-table {
	overflow-x: scroll;
}

/* On striped tables, alternate our neutral and neutral-alt colors */
// .wp-block-table.is-style-stripes tbody tr:nth-child(even) {
//     background-color: var(--wp--preset--color--neutral-alt);
// 	//color: currentcolor;
// }
// 
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: var(--wp--preset--color--light-gray);
	//color: currentcolor;
	color: var(--wp--preset--color--almost-black);
}

// .wp-block-table.is-style-stripes table:not(.has-text-color) tbody tr:nth-child(odd) {
// 	//color: var(--wp--preset--color--almost-black);
// 	color: currentcolor;
// }
