/*-----------------------------------------------------------------------------
# Block Styles for Borders
# Needed for WordPress <v6.6
# Now in /styles/blocks/*.json
# @since v1.6.4
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
## Custom: Rounded Corners
-----------------------------------------------------------------------------*/
.is-style-rounded-corners {
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
	overflow: hidden;
}

/*-----------------------------------------------------------------------------
## Custom: Rounded Border
-----------------------------------------------------------------------------*/
.is-style-rounded-border {
	border: 1px solid var(--wp--custom--color--border);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--40);
    //box-shadow: var(--wp--custom--shadow--default);
}

.is-style-rounded-border.is-layout-flex {
	overflow: hidden;
}

/*-----------------------------------------------------------------------------
## Custom: Thick Rounded Border
-----------------------------------------------------------------------------*/
.is-style-thick-rounded-border {
	border: 3px solid var(--wp--custom--color--border);
	border-radius: var(--wp--custom--border--radius);
	padding: var(--wp--preset--spacing--60);
    //box-shadow: var(--wp--custom--shadow--default);
}

is-style-thick-rounded-border.is-layout-flex {
	overflow: hidden;
}
