/*--------------------------------------------------------------
# PRO Dashicon Styles
--------------------------------------------------------------*/

/* Override dashicons default centering to match the text */
.dashicons,
[class*=dashicons-] {
	//font-family: dashicons;	

	&.has-text-align-center {
		text-align: center;
		justify-content: center;
	}
	&.has-text-align-left {
		text-align: left;
		justify-content: left;
	}
	&.has-text-align-right {
		text-align: right;
		justify-content: right;
	}	
}

[class*=dashicons-]:before {
	font-family: dashicons;	
}

/* Add a new Dashicons After class */
.dashicons-after {
	display: flex;
	//flex-direction: row;
	
	&:before {
		order: 2;
		margin-left: var(--wp--preset--spacing--20);
		//vertical-align: middle;
	}

}

/* Add a new Dashicons Above class */
.dashicons-above {
	//display: block;
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--30);

	&:before {
		//display: block;
		text-align: center;
		//vertical-align: middle;
	}	
}

/* Add a new Dashicons Below class */
.dashicons-below {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--30);
	
	&:before {
		order: 2;
		text-align: center;
		//vertical-align: middle;
	}	
}

/* Nav menus already have transitions so don't add another one on
 * dashicons
 */
.wp-block-navigation .dashicons {
	transition: none;
}

/* Don't display the top-level icon on the drop-down menu */
.wp-block-navigation__submenu-container.dashicons:before {
	content: none;
}
// 
// :where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item a:not(.wp-element-button)), 
// :where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu a:not(.wp-element-button)), 
// :where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu button.wp-block-navigation-item__content), 
// :where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-pages-list__item button.wp-block-navigation-item__content) {
//     padding:.5em 1em
// }
// 
//* Move the submenu icon padding to account for the icon */
// .wp-block-navigation__submenu-container .wp-block-navigation-item.dashicons {
// 	margin-right: .5em;
// }
// 
// .wp-block-navigation__submenu-container .wp-block-navigation-item.dashicons:before {
// 	padding-left: 1em;
// }
// 
// .wp-block-navigation__submenu-container .wp-block-navigation-item.dashicons	> .wp-block-navigation-item__content {
// 	padding-left: 0;
// }

// .wp-block-navigation__container > .wp-block-navigation-item.dashicons-before {
// 	position: relative;
// 	margin-left: 1em;
// 	
// 	&:before {
// 		position: absolute;
// 		left: calc(-1em - var(--wp--preset--spacing--20)); 
// 	}
// }
