/*--------------------------------------------------------------
# Plugin Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Akismet Comments Plugin
--------------------------------------------------------------*/

/* Don't underline comment privacy notice link */
.akismet_comment_form_privacy_notice a {
	text-decoration: none;
}

/*--------------------------------------------------------------
## Cookies for Comments Plugin
--------------------------------------------------------------*/

/* Get rid of Cookies for Comments spacing added to bottom of site */
img[alt="css.php"] {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height:0;  /* Chrome */
}

/*--------------------------------------------------------------
## WordPress Multisite
--------------------------------------------------------------*/

/* Format the new site signup page */
body.home > #page {

	& > #header {
		width: 90%;
		margin: 0 auto;
		
		& > #headerimg {
		
			& > h1 {			
				margin-top: var(--wp--style--block-gap);
				margin-bottom: var(--wp--style--block-gap);
			
				& > a {
					text-decoration: none;
				}
			}
		}
	}

	& > #signup-content > .mu_register .mu_alert {
		color: inherit; //var(--wp--preset--color--foreground-alt);
		background-color: var(--wp--preset--color--tertiary);
		border-color: var(--wp--custom--border--color);
		border-radius: var(--wp--custom--border--radius);
		font-weight: var(--wp--custom--typography--font-weight--medium);
		padding: var(--wp--preset--spacing--40);
		margin-top: var(--wp--style--block-gap);
		margin-bottom: var(--wp--style--block-gap);
	}
	
	& > #footer {
		width: 90%;
		margin: 0 auto;
	}
}
