/*--------------------------------------------------------------
# Plugin Styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Akismet Comments Plugin
--------------------------------------------------------------*/

/* Don't underline comment privacy notice link */
.akismet_comment_form_privacy_notice a {
	text-decoration: none;
}

/*--------------------------------------------------------------
## Cookies for Comments Plugin
--------------------------------------------------------------*/

/* Get rid of Cookies for Comments spacing added to bottom of site */
img[alt="css.php"] {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	height:0;  /* Chrome */
}
