<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"archive-title","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"page-content is-style-default","lock":{"move":true,"remove":true}} -->
<main id="page-content" class="wp-block-group page-content is-style-default">
	<!-- wp:group {"className":"wp-block-post-content wp-block-post-content-is-layout-constrained","layout":{"type":"constrained"}} -->
		<div class="wp-block-group wp-block-post-content is-layout-constrained wp-block-group-is-layout-constrained wp-block-post-content-is-layout-constrained">
		<!-- wp:xs-users/latest-users {"blogID":0,"requireComment":false,"numberToShow":99,"displayAs":"grid","showPagination":true} /-->
		</div>
	<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->