<!-- wp:template-part {"slug":"header","theme":"flat-blocks-pro","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"header","lock":{"move":true,"remove":true},"metadata":{"name":"Author Title \u0026 Profile"},"align":"full","className":"entry-header alignfull is-style-no-padding","layout":{"type":"constrained"}} -->
<header class="wp-block-group alignfull entry-header is-style-no-padding"><!-- wp:template-part {"slug":"archive-title","theme":"flat-blocks-pro","align":"full"} /-->

<!-- wp:group {"align":"wide","className":"is-style-rounded-border","layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group alignwide is-style-rounded-border"><!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"","fontSize":"medium"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"metadata":{"name":"Main"},"className":"page-content"} -->
<main id="page-content" class="wp-block-group page-content"><!-- wp:template-part {"slug":"query","theme":"flat-blocks-pro","lock":{"move":true,"remove":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"flat-blocks-pro","lock":{"move":true,"remove":true}} /-->