<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"post-title","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"page-content  is-style-default","layout":{"inherit":false},"lock":{"move":true,"remove":true}} -->
<main id="page-content" class="wp-block-group page-content is-style-default">
<!-- wp:post-content {"layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"post-meta","lock":{"remove":true}} /-->
<!-- wp:template-part {"slug":"post-navigation","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"comments"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"340px"} -->
<div class="wp-block-column" style="flex-basis:340px"><!-- wp:template-part {"slug":"sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->