<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"archive-title","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","align":"full","className":"page-content is-style-default","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull page-content is-style-default" id="page-content"><!-- wp:columns {"align":"wide","className":"main-content is-style-thick-gap","layout":{"inherit":false}} -->
<div class="wp-block-columns alignwide main-content is-style-thick-gap"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"className":"wp-block-post-content is-layout-constrained wp-block-group-is-layout-constrained wp-block-post-content-is-layout-constrained is-style-rounded-border","layout":{"type":"constrained"}} -->
<div class="wp-block-group wp-block-post-content is-layout-constrained wp-block-group-is-layout-constrained wp-block-post-content-is-layout-constrained is-style-rounded-border"><!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"User Comments"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">User's Latest Comments</h3>
<!-- /wp:heading -->

<!-- wp:latest-comments {"commentsToShow":10,"displayAvatar":false,"currentUser":true,"displayUserName":false} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"340px","style":{"spacing":{"margin":{"top":"0"}}}} -->
<div class="wp-block-column" style="margin-top:0;flex-basis:340px"><!-- wp:template-part {"slug":"sidebar"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->
