<!-- wp:template-part {"slug":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:template-part {"slug":"archive-title","lock":{"move":true,"remove":true},"align":"full"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":true,"remove":true},"metadata":{"name":"Main"},"className":"page-content","layout":{"type":"constrained"}} -->
<main id="page-content" class="wp-block-group page-content"><!-- wp:group {"metadata":{"name":"User Profile"},"className":"is-style-rounded-border","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-rounded-border"><!-- wp:post-author {"avatarSize":96,"showBio":true,"byline":"","fontSize":"medium"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"User Comments"},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">User's Latest Comments</h3>
<!-- /wp:heading -->

<!-- wp:latest-comments {"commentsToShow":10,"displayAvatar":false,"currentUser":true,"displayUserName":false} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","lock":{"move":true,"remove":true}} /-->