/*-----------------------------------------------------------------------------
# Block Styles for Padding
# @since v1.6.6
------------------------------------------------------------------------------*/

/* Override horizontal padding when no global padding */
header.site-header:not(.has-global-padding),
footer.site-footer:not(.has-global-padding),
header.entry-header:not(.has-global-padding):not(.is-style-no-padding),
.wp-block-query:not(.has-global-padding) {
    padding-left: var(--wp--style--root--padding-left, var(--wp--preset--spacing--50)) !important;
    padding-right: var(--wp--style--root--padding-right, var(--wp--preset--spacing--50)) !important;
}

/* FIX to add back horizontal padding */
.has-global-padding > .alignfull:not(.wp-block-post-content, .wp-block-image, .wp-block-columns, .wp-block-buttons, .wp-block-media-text, .is-style-no-padding),
.has-global-padding.alignfull:not(.wp-block-post-content, .wp-block-image, .wp-block-columns, .wp-block-buttons, .wp-block-media-text, .is-style-no-padding) {
  padding-left: var(--wp--style--root--padding-left);
  padding-right: var(--wp--style--root--padding-right);
}

/* But REMOVE duplicate padding */
.has-global-padding > .alignfull:where(:not(.has-global-padding)) > :where(.wp-block-image) {
	padding-left: 0;
	padding-right: 0;
}
