/*-----------------------------------------------------------------------------
# Block Styles for Columns and Column
# @since v1.6.9
------------------------------------------------------------------------------*/

/* ADD BACK gap on flex columns by default */
.wp-block-columns-is-layout-flex {
	gap: var(--wp--style--block-gap);
}

/* Columns thick gap */
.wp-block-columns.is-style-thick-gap,
.wp-block-columns.is-style-thick-gap.has-background {
	gap: calc(2 * var(--wp--style--block-gap));
}

/* Column no padding */
.wp-block-column.is-style-no-padding {
	padding: 0;
}
