/*-----------------------------------------------------------------------------
# Block Styles for Images
# @since v1.8
------------------------------------------------------------------------------*/
/* Image Round w/Border */
.wp-block-image.is-style-image-round-border img {
	border: 1px solid var(--wp--custom--color--border);
}

/* Image Computer Screen */
.wp-block-image.is-style-image-computer-screen img {
	border: var(--wp--preset--spacing--60) solid var(--wp--preset--color--almost-black);
	border-radius: var(--wp--preset--spacing--40);
	border-bottom: var(--wp--preset--spacing--30) solid var(--wp--preset--color--almost-black);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* Image Phone/Tablet Screen */
.wp-block-image.is-style-image-tablet-phone-screen img {
	border: var(--wp--preset--spacing--50) solid var(--wp--preset--color--almost-black);
	border-radius: var(--wp--preset--spacing--40);
}
