/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/columns.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Columns and Column
-----------------------------------------------------------------------------*/
/* Padding for colored backgrounds on columns and individual column */
.wp-block-columns.has-background {
  padding: var(--wp--preset--spacing--60);
}

.wp-block-column.has-background {
  padding: var(--wp--preset--spacing--40);
}

/* Collapse columns on tablet and mobile */
@media only screen and (max-width: 781px) {
  /* If global padding, then OVERRIDE horizontal padding on mobile */
  .wp-block-columns.has-background,
  .wp-block-columns > .wp-block-column.has-background {
    padding-right: var(--wp--style--root--padding-left) !important;
    padding-left: var(--wp--style--root--padding-right) !important;
  }
}
/*-----------------------------------------------------------------------------
# Columns and Column: Custom
-----------------------------------------------------------------------------*/
.wp-block-columns.is-style-no-gap,
.wp-block-columns.is-style-no-gap .wp-block-column:not(.has-background),
.wp-block-columns.is-style-no-gap.has-background:not(.has-global-padding) {
  gap: 0 !important;
  padding: 0 !important;
}

/* Columns thick gap */
.wp-block-columns.is-style-thick-gap,
.wp-block-columns.is-style-thick-gap.has-background {
  gap: calc(2 * var(--wp--style--block-gap));
}

/* Column no padding */
.wp-block-column.is-style-no-padding {
  padding: 0;
}

/* Collapse columns on tablet and mobile */
@media only screen and (max-width: 781px) {
  /* Reduce row (vertical gap) when collapsing centered columns */
  .wp-block-columns.is-style-center-on-mobile {
    row-gap: var(--wp--preset--spacing--30);
  }
  /* Center left and right aligned text */
  .wp-block-columns.is-style-center-on-mobile .wp-block-column:not(.wp-block-navigation__responsive-container-content) > *,
  .wp-block-columns.is-style-center-on-mobile .wp-block-column:not(.wp-block-navigation__responsive-container-content) > .wp-block-template-part > * {
    display: flex;
    justify-content: center;
    --navigation-layout-justify: center;
    text-align: center;
  }
  /* OVERRIDE columns thick gap so vertical spacing matches up */
  .wp-block-columns.is-style-thick-gap,
  .wp-block-columns.is-style-thick-gap.has-background {
    gap: var(--wp--style--block-gap);
  }
}
