/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/comments.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Comments
-----------------------------------------------------------------------------*/
/* Remove vertical margins if no comments */
.wp-block-template-part:has(.post-comments):not(:has(.wp-block-comments)) {
  margin-block-start: 0;
}

/* Adjust padding on mobile and tablet (782px) */
/**
 * Breakpoints & Media Queries
 */
@media only screen and (max-width: 781px) {
  .post-comments:not(.has-global-padding) {
    padding-left: var(--wp--style--root--padding-left) !important;
    padding-right: var(--wp--style--root--padding-right) !important;
  }
}
