/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/latest-comments.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Latest Comments
-----------------------------------------------------------------------------*/
/* Set default latest comments to match latest posts */
.wp-block-latest-comments {
  list-style: none;
}

.wp-block-latest-comments__comment {
  margin-bottom: 0;
}

/* Add some bottom margin to plain posts list */
.wp-block-latest-comments li {
  margin-bottom: var(--wp--preset--spacing--30);
}

/* Default latest comments style to no bullets */
.wp-block-latest-comments:not(.is-style-bullets) {
  padding-right: 0;
  padding-inline-start: 0;
}

/*-----------------------------------------------------------------------------
# Latest Comments: Custom
-----------------------------------------------------------------------------*/
/* Bullets style */
.wp-block-latest-comments.is-style-bullets:not(.has-avatars) {
  padding-right: 2em;
}

.wp-block-latest-comments.is-style-bullets {
  list-style: disc;
}

.wp-block-latest-comments.is-style-bullets li {
  list-style: disc;
  margin-bottom: 0;
}

.wp-block-latest-comments.is-style-bullets.has-avatars .wp-block-latest-comments__comment {
  list-style-position: inside;
}
