/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-date.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Date
-----------------------------------------------------------------------------*/
.wp-block-post-date:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.wp-block-post-date:before {
  -webkit-mask-image: url(../../icons/calendar-alt.svg);
          mask-image: url(../../icons/calendar-alt.svg);
  margin-right: 0.15em;
}
