/*!*******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/scss/blocks/post-author.scss ***!
  \*******************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Author
-----------------------------------------------------------------------------*/
.wp-block-post-author__name {
  margin-bottom: 0;
}

.wp-block-post-author__avatar {
  margin-left: var(--wp--style--block-gap);
}

.wp-block-post-author__avatar img {
  border-radius: 50%;
  margin: 0;
}

.wp-block-post-author__bio {
  font-size: var(--wp--preset--font-size--normal);
  margin-top: var(--wp--style--block-gap);
  margin-bottom: var(--wp--style--block-gap);
}
