/*!*************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/post-featured-image.scss ***!
  \*************************************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Featured Image
-----------------------------------------------------------------------------*/
.wp-block-post-featured-image img {
  padding: var(--wp--preset--spacing--20);
}

/*-----------------------------------------------------------------------------
# Custom: Post Featured Image
-----------------------------------------------------------------------------*/
/* Featured Image no border */
.is-style-image-no-border img {
  border: none;
  border-radius: 0;
  padding: 0;
}
