/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/scss/blocks/post-author-name.scss ***!
  \************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Post Author Name
-----------------------------------------------------------------------------*/
.wp-block-post-author-name:before {
  content: "";
  background-color: currentColor;
  display: inline-flex;
  align-self: center;
  height: 1em;
  width: 1em;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.wp-block-post-author-name:before {
  /* webpackIgnore: true */
  mask-image: url(../../icons/admin-users.svg);
  margin-right: 0.15em;
}
