/*!***********************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/scss/blocks/table.scss ***!
  \***********************************************************************************************************************************************************************************************************************/
/*-----------------------------------------------------------------------------
# Table
-----------------------------------------------------------------------------*/
/* Allow tables to scroll on mobile */
.wp-block-table {
  overflow-x: scroll;
}

/* On striped tables, alternate our neutral and neutral-alt colors */
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: var(--wp--preset--color--light-gray);
  color: var(--wp--preset--color--almost-black);
}
